.jxptb { 
  padding-bottom: 10px;
  line-height: 65px;
  line-height: 64px;
  margin-right: 91px;
  padding-bottom: 39px;
  line-height: 57px;
  padding-left: 28px;
  border-bottom-width: 55px;
  font-size: 8px;
  border-right-width: 64px;
  padding-right: 30px;
  margin-bottom: 31px;
  margin-bottom: 52px;
  border-left-width: 0px;
  margin-left: 32px;
  border-right-width: 54px;
  font-size: 95px;
  border-bottom-width: 1px;
  padding-bottom: 16px;
  padding-right: 80px;
  margin-bottom: 46px;
  padding-left: 49px;
  margin-bottom: 61px;
  border-right-width: 28px;
}
