.jxptb { 
  padding-bottom: 10px;
  line-height: 65px;
  line-height: 64px;
  margin-right: 91px;
  padding-bottom: 39px;
  line-height: 57px;
  padding-left: 28px;
  border-bottom-width: 55px;
  font-size: 8px;
  border-right-width: 64px;
  padding-right: 30px;
  margin-bottom: 31px;
  margin-bottom: 52px;
  border-left-width: 0px;
  border-top-width: 8px;
}
